@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Inter:wght@200;600&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(images/wallpaper.jpg);
}

main{
	width: 65%;
	height: 100vh;
	margin: auto;
	box-shadow: 0px 10px 100px rgba(14, 14, 14, 0.3);
	backdrop-filter: blur(10px);
}

a{
	text-decoration: none;
	color: white;
}

.return{
	display: flex;
    align-items: center;
	width: 100%;
	height: 5vh;
	padding-top: 2vh;
	font-family: 'Inter', sans-serif;
	font-size: 25px;
}

.a-return{
	text-align: center;
	width: 15vh;
	height: 3vh;
	margin-left: auto;
	margin-right: auto;
	transition: 1s;
}

.a-return:hover{
	transform: scale(1.2);
}

.news{
	width: 100%;
	height: 60vh;
	margin-top: 80px;
}

.news-post{
	width: 100%;
	height: 15vh;
	margin-bottom: 10vh;
	transition: 1s;
}

.news-post:hover{
	background-color: rgba(255, 255, 255, .5);
}
.text{
	margin-left: 10px;
	float: left;
	color: white;
	font-family: 'Inter', sans-serif;
	font-size: 15px;
}

.text5{
	margin-top: 10px;
}

.img{
	margin-left: 30px;
	float: left;
	border-radius: 50%;
	width: 15vh;
	height: 15vh;
}

.data{
	margin-top: 20px;
}